<html>
<head>
    <title> "Feedback Response" </title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/jquery-ui.css"/>
    <script type="text/javascript" src="/js/navbar.js"></script>
    <link rel="stylesheet" type="text/css" href="stylesheets/dashboard.css"/>
</head>
<body>    
    <h2 class="response-hdr"> Error in Admin Functionality </h2>
    <h3 style="text-align:center">Error : <%= data %></h3>
    <a href="/admin"><input type="Submit" value="Back" class="form-btn2"></a>
</body>
</html>
